
body{
    background-color: #999999;
    width: 960px;
}
nav{
    font-family: serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3E3E3E;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

main{
    padding-top: 50px;
    padding-left: 20px;
}
.img-circle{
    border-radius: 50%;
}
#titleStyle{
    color: #08490A;
    font-family: serif;
    font-size: 14pt;
    padding: 0;
    margin: 0;
}
#centerText{
    text-align: center;
}
#centerText2{
    text-align: center;
}